# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# IDE files
.idea/
.vscode/

# Testing caches
.pytest_cache/
.mypy_cache/

